<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="obj" class="com.example.demo.Employee">
		<property name="id">
			<value>20</value>
		</property>
		<property name="name">
			<value>Arun</value>
		</property>
		<property name="city">
			<value>Ghaziabad</value>
		</property>

	</bean>
	
	<bean id="obj1" class="com.example.demo.Employee">
		<property name="id">
			<value>2</value>
		</property>
		<property name="name">
			<value>Arjun</value>
		</property>
		<property name="city">
			<value>Banglore</value>
		</property>
	</bean>
	
	<bean id="obj2" class="com.example.demo.Employee">
		<property name="id">
			<value>10</value>
		</property>
		<property name="name">
			<value>Ted</value>
		</property>
		<property name="city">
			<value>NY</value>
		</property>

	</bean>

</beans>